.container404 {
  display: flex;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
}

body {
  background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
}

.sound {
  width: 30px;
  position: absolute;
  top: 8px;
  right: 16px;
}