.container404 {
	display: flex;
	align-items: center;
	margin-top: 20px;
	flex-direction: column;
}

body {
	background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
	font-family: 'DM Sans', sans-serif;
}

.sound {
	width: 30px;
	position: absolute;
	top: 8px;
	right: 16px;

display: flex;
align-items: center;
margin-top: 20px;
flex-direction: column;
}

body {
background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
font-family: 'DM Sans', sans-serif;
}

.sound {
width: 30px;
position: absolute;
top: 8px;
right: 16px;
}

.toggle-btn-show{
	width: 9.2em;
	height: 9.2em;
	border-radius: 50%;
	background-image:
	-webkit-radial-gradient(50% 0%, 8% 50%, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%),
	-webkit-radial-gradient(50% 100%, 12% 50%, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%),
	-webkit-radial-gradient(0% 50%, 50% 7%, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%),
	-webkit-radial-gradient(100% 50%, 50% 5%, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%),
	-webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(44,0,0,0) 0%, rgba(44,0,0,0) 3%,rgba(44,0,0,0) 3.5%),
	-webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(255,30,30,0) 0%, rgba(255,30,30,0) 6%,rgba(255,30,30,0.1) 7.5%),
	-webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(210,25,25,0) 0%, rgba(210,25,25,0) 1.2%,rgba(210,25,25,0.2) 2.2%),
	-webkit-radial-gradient(50% 50%, 200% 50%, rgb(130,10,10) 5%,rgb(120,10,10) 30%, rgb(170,17,17) 100%);
	box-shadow:  inset 0 0.25rem 0.3rem rgb(153,76,76);
}

.toggle-btn-show:active {
	width: 9rem;
	height: 9rem;
	filter: brightness(97%);
	transform: rotate(0.5deg);
	box-shadow: inset rgba(61,0,0,0.7) 0 2px 2px 2px,
	inset rgba(61,0,0,0.15) 0 2px 2px 5px;
}

.btn-inner-frame {
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	background-color: rgb(0,0,0);
	box-shadow: inset 0 0.25rem 0.15rem rgba(199,199,199,0.2);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.btn-frame {
	width: 11rem;
	height: 11rem;
	border-radius: 50%;
	background-color: rgb(27,27,27);
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow:  rgba(0,0,0,0.15) 0 -5px 5px 3px,
	rgba(0,0,0,0.15) 0 5px 5px 3px,
	rgba(30,50,90,0.3) 0 5px 6px 4px,
	inset 0 0.25rem 0.15rem rgba(138,138,138,0.2);
}

.toggle-btn-save {
	color: #fff;
	padding-right: 0;
	background-color: #c0392b;
	-webkit-clip-path: polygon(0% 0%, 100% 0, 100% 70%, 90% 100%, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 50%, 75% 100%, 0 100%);

}

.toggle-btn-save:hover { 
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);  
}

.toggle-btn-save:after {
	content: "\f004";
	color: #e74c3c;
	font-family: FontAwesome;
	display: inline-block;
	position: relative;
	right: -55px;
	transition: all 0.2s ease;
}

.toggle-btn-save:hover:after {
	margin: -5px 15px;
	right: 0px;
}

.asteroid {
	pointer-events: none;
}


.asteroid>* {
	/* Adjust animation duration to change the element’s speed */
	animation: fly 50s linear infinite;
	pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: 1s;
	z-index: 999999;
}

/* Keyframe values control where the element will begin
    and end its trajectory across the screen. Each rule
    represents a path the element follows across the screen. */


@keyframes fly {
	98.001%,
	0% {
		display: block;
		transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
	}
	15% {
		transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
	}
	15.001%,
	18% {
		transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
	}
	40% {
		transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
	}
	40.001%,
	43% {
		transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
	}
	65% {
		transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
	}
	65.001%,
	68% {
		transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
	}
	95% {
		transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
	}
}