/* .charts {
    background-color: transparent;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.weight-chart {
    border: 5px;
    border: thin;
    border-color: black;
    border-radius: 5px;
    margin: 1%;
    padding: 1px;
    height: 50%;
    width: 60%;
}

.length-chart {
    border-radius: 20px;
    margin: 1%;
    padding: 10px;
    height: 50%;
    width: 44%;
}

.diet-chart {
    border-radius: 20px;
    margin: 1%;
    padding: 10px;
    height: 50%;
    width: 44%;
} */